.section{id: "js-about-section"}
	%h3.header-about
		Sobre mí
	.content
		.profile-picture
		.about-description
			%p
				<strong>Ex blandit deserunt eos, mea omnium nominavi cu.</strong> Id alterum repudiandae has. Pri minim vocent ea, vim modus possim honestatis ea. Unum debet habemus mel et, at alii offendit intellegat cum, duo ne graeco cetero.Malis consequuntur pri no. Definiebas sadipscing an cum, pro veri simul nominavi id. Regione aperiri numquam ex est, in tibique copiosae perpetua nec. Te quod corrumpit eam, cu indoctum mediocrem qui, everti appetere te sed. Qui doming intellegam neglegentur ut, et nullam menandri sapientem pro. Mei soleat essent insolens ne, vim nullam saperet epicurei an, qui eu facer praesent