.section{id: "js-contact-section", style:"hidden"}
	%h3.header-contact
		Contacto
	%form{:action =>"http://formspree.io/adrian.escat@dev.redmintlabs.com", :method => "POST", :class => "contact-form"}
		.contact-form-section
			%br
				.contact-form-label
					Nombre:
			%br 
				%input{:type =>"text", :name =>"name", :placeholder => "Nombre", :class => "contact-form-input"}
		.contact-form-section
			%br
				.contact-form-label
					E-Mail:
			%br
				%input{:type => "email", :name => "_replyto", :placeholder => "E-Mail", :class => "contact-form-input"}
		.contact-form-section
			%br
				.contact-form-label
					Consulta:
			%br
				%textarea{:name =>"body", :placeholder => "Consulta", :class => "contact-form-input texta"}
		%br
			%input{:type =>"submit", :value =>"Enviar", :class => "contact-send-button"}