.footer
	.lockup.clearfix		
		.content-wrap
			.nav
				= link_to "Sobre mí", "#", :id => "js-about-footer-link"
				= link_to "Estudios", "#", :id => "js-studies-footer-link"
				= link_to "Experiencias", "#", :id => "js-xp-footer-link"
			%p.copyright
				= link_to "By Adrián Escat", "https://ar.linkedin.com/in/adrianescat", target: "_blank", class: "linkedin"