.header
	#custom-nav{class: "navbar navbar-default navbar-fixed-top"}
		.container
			.navbar-header
				.nav-links
					= link_to "Sobre mí", "#", :id => "js-about-link"
					= link_to "Estudios", "#", :id => "js-studies-link"
					= link_to "Experiencias", "#", :id => "js-xp-link"
					= link_to "Contacto", "#", :id => "js-contact-link"
	%h1.header-header
		Víctor Escat
	%p.slogan Psicólogo