.section{id: "js-studies-section", style:"hidden"}
	%h3.header-studies
		Estudios
	.flicker-studies
		%ul
			%li{"data-background" => "images/uba_back.png"}
				.flick-title
					Licenciado en Psicología
				.flick-sub-text
					<strong>Universidad de Buenos Aires.</strong>
			%li
				.flick-title
					Conocimientos
				.flick-sub-text
					<strong>Hipnosis</strong> Ericksoniana nivel I y II,
					Coordinación y dinámica de <strong>grupos</strong>,
					Capacitación y desarrollo de <strong>RRHH</strong>
			%li
				.flick-title
					Conocimientos
				.flick-sub-text
					Herramientas de Intervención <strong>Sistémico-Cognitivas</strong>,
					Técnicas de Integración cerebral <strong>T.I.C</strong>,
					Modelos de estrategias de intervención en <strong>crisis y emergencias</strong>
			%li
				.flick-title
					Conocimientos
				.flick-sub-text
					Herramientas de intervención en <strong>Organizaciones</strong>,
					<strong>Liderazgo</strong> y Gestión de personal, 
					Dinámica de la <strong>comunicación</strong> y la imagen corporativa
			%li
				.flick-title
					Conocimientos
				.flick-sub-text
					Comunicación Relacional en <strong>Ventas</strong> y
					Claves de la <strong>Estrategia competitiva</strong>
