.section{id: "js-xp-section", style:"hidden"}
	%h3.header-xp
		Experiencias
	.cntl
		%span{class:"cntl-bar cntl-center"}
			%span{class:"cntl-bar-fill"}
		.cntl-states

			.cntl-state
				.cntl-content
					%h3
						1990 - 1998
					%p
						Mutual de <strong>Asistencia Psicológica</strong> <em>El Bancadero</em>
					%p 
						Función: <strong>Psicoterapeuta</strong>
				.cntl-image
					= link_to "http://www.elbancadero.com.ar/", target: "_blank" do
						=image_tag "banca.jpg"
				.cntl-icon.cntl-center
					'90
			.cntl-state
				.cntl-content
					%h3
						1993 - 1993
					%p
						<strong>Hospital</strong>: <em>Dr. José T. Borda</em>
					%p 
						Función: <strong>Psicoterapeuta</strong>
				.cntl-image
					= link_to "http://www.hospitalborda.com.ar/", target: "_blank" do
						%img(src="/images/redcross.jpg")
				.cntl-icon.cntl-center
					'93
			.cntl-state
				.cntl-content
					%h3
						1993 - 1998
					%p
						<strong>Consultorio</strong> privado
					%p
						Función: <strong>Psicoterapeuta</strong>
				.cntl-image
					%img(src="/images/divan.jpg")
				.cntl-icon.cntl-center
					'93
			.cntl-state
				.cntl-content
					%h3
						1993 - 1994
					%p
						<strong>Escuela</strong> n°21 Agustín Ferrari
					%p
						Función: <strong>Orientador educacional</strong>
				.cntl-image
					%img(src="/images/head_to_right.jpg")
				.cntl-icon.cntl-center
					'93
			.cntl-state
				.cntl-content
					%h3
						1994 - 1995
					%p
						<strong>Escuela</strong> n°37 "Maestro Ángel Acuña"
					%p
						Función: <strong>Orientador educacional</strong>
				.cntl-image
					%img(src="/images/head_to_left.jpg")
				.cntl-icon.cntl-center
					'94
			.cntl-state
				.cntl-content
					%h3
						1994 - <strong>Actualidad</strong>
					%p
						<strong>OSDE</strong> <em>“Organización de Servicios Directos Empresarios”</em>
					%p
						Funciones: <strong>Coach</strong> y Coordinación de promoción. Actualmente <strong>Auditor</strong>
				.cntl-image
					= link_to "http://www.osdebinario.com.ar/index.html#!homepage.html", target: "_blank" do
						%img(src="/images/osde.jpg")
				.cntl-icon.cntl-center
					'94