/* line 1, /home/adrian/middlemanapps/victor_page/source/stylesheets/contact.css.scss */
.contact-form {
  margin: auto;
  text-align: center;
  margin-top: 7%; }

/* line 6, /home/adrian/middlemanapps/victor_page/source/stylesheets/contact.css.scss */
.contact-form-input {
  width: 30%; }

/* line 9, /home/adrian/middlemanapps/victor_page/source/stylesheets/contact.css.scss */
.contact-form-label {
  font-size: 16px;
  font-weight: 600; }

/* line 13, /home/adrian/middlemanapps/victor_page/source/stylesheets/contact.css.scss */
.contact-form-input.texta {
  max-width: 50%;
  max-height: 200px; }

/* line 17, /home/adrian/middlemanapps/victor_page/source/stylesheets/contact.css.scss */
.contact-send-button {
  padding: 1% 9% 1% 9%;
  background-color: #4e3741;
  border-color: #4e3741;
  color: #d3a154;
  margin-top: 4%;
  font-weight: 600; }
