/* line 1, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
.footer {
  background: url("/images/sofa.jpg") center center;
  background-size: cover;
  bottom: 0px; }
  /* line 6, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
  .footer .lockup {
    padding: 50px 30px; }
    /* line 9, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
    .footer .lockup .content-wrap {
      float: left; }
      /* line 12, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
      .footer .lockup .content-wrap a {
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        color: #97CDC5;
        display: inline-block;
        margin-right: 20px; }
        /* line 19, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
        .footer .lockup .content-wrap a:hover {
          color: #81b2ab;
          text-decoration: none; }
      /* line 25, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
      .footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: #D3AD5C; }
        /* line 31, /home/adrian/middlemanapps/victor_page/source/stylesheets/footer.css.scss */
        .footer .lockup .content-wrap .copyright .linkedin {
          color: #ffdf00 !important; }
