/* line 1, /home/adrian/middlemanapps/victor_page/source/stylesheets/main.css.scss */
html, body {
  height: 100%; }

/* line 6, /home/adrian/middlemanapps/victor_page/source/stylesheets/main.css.scss */
#wrap {
  min-height: 100%; }

/* line 10, /home/adrian/middlemanapps/victor_page/source/stylesheets/main.css.scss */
#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
  width: 90%; }

/* line 15, /home/adrian/middlemanapps/victor_page/source/stylesheets/main.css.scss */
.header-about, .header-studies, .header-xp, .header-contact {
  padding-top: 80px; }
